*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/Login Asset/login.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
}

.form-box{
    position: relative;
    width: 380px;
    height: 480px;
    margin: 15% 37%;
    background: transparent;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    background: #fff;
    width: 220px;
    margin: 40px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 10px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff6600,#00a3fb);
    border-radius: 10px;
    transition: 0.5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}

.social-icons img{
    width: 40px;
    margin: 0 20px;
    box-shadow:0 0 20px 0 #7f7f7f3d ;
    cursor: pointer;
    border-radius: 50%;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-width: 2px;
    border-color: black;
    outline: none;
    background: white;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff6600,#00a3fb);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.checkbox{
    margin: 30px 10px 30px 0;
}

span{
    color: white;
    font-size: 12px;
    bottom: 64px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}
